* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  background: var(--bg-primary);
  color: var(--font-color);
  cursor: default;
}
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
  font-family: Poppins, sans-serif;
  background: linear-gradient(
    90deg,
    rgba(165, 165, 165, 1) 0%,
    rgba(255, 255, 255, 0.85) 100%
  );
  width: max-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.light-mode h1,
.light-mode h2,
.light-mode h3,
.light-mode h4,
.light-mode h5,
.light-mode h6 {
  font-family: Poppins, sans-serif;
  background: linear-gradient(
    90deg,
    rgba(80, 80, 80, 1) 0%,
    rgba(40, 40, 40, 1) 100%
  );
  width: max-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
li {
  list-style: none;
}

.light-mode {
  --font-color: #101212;
  --bg-primary: #fff;
  --bg-secondary: #aaafbf;
}
.dark-mode {
  --font-color: #bbb;
  --bg-primary: #141821;
  --bg-secondary: #222938;
}

.cursor {
  cursor: pointer;
}

.dark-mode .logo {
  background: linear-gradient(
    90deg,
    rgba(165, 165, 165, 1) 0%,
    rgba(92, 207, 230, 1) 100%
  );
  width: max-content;
  display: inline;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.light-mode .logo {
  background: linear-gradient(
    90deg,
    rgba(40, 40, 40, 1) 0%,
    rgba(92, 207, 230, 1) 100%
  );
  width: max-content;
  display: inline;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pre {
  padding: 1rem;
  border-radius: 10px;

  background-color: #222938;
}

/* .light-mode .pre {
  background-color: var(--bg-secondary);
}
.dark-mode .pre {
  background-color: var(--bg-secondary);
} */
