* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  background: var(--bg-primary);
  color: var(--font-color);
  cursor: default;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: Poppins, sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.light-mode {
  --font-color: #101212;
  --bg-primary: #ffffff;
  --bg-secondary: #ccc;
}
.dark-mode {
  --font-color: #cccccc;
  --bg-primary: #141821;
  --bg-secondary: #222938;
}
