.main {
  margin-top: 7rem;
  margin-bottom: 5rem;
  padding-top: 3rem;

  @media screen and (min-width: 900px) {
    margin-left: 15vw;
    margin-top: 7rem;
    margin-right: 10rem;
    margin-bottom: 5rem;
    padding-top: 3rem;
  }
}
